.button-primary {
  background: #dc294f;
  border: none;
  // width: 100%;
  position: absolute;

  &.ant-btn-primary:hover,
  .ant-btn-primary:focus {
    color: #fff;
    background: #df657f !important;
    border-color: #df657f !important;
  }
  &.ant-btn-primary {
    color: #fff;
    background: #dc294f;
    border-color: #dc294f;
  }
  &.ant-btn-primary:active {
    color: #fff;
    background: #df657f;
    border-color: #df657f;
  }
}

@media (min-width: 425px) {
  .button-primary {
    background: #dc294f;
    border: none;

    &.ant-btn-primary:hover,
    .ant-btn-primary:focus {
      color: #fff;
      background: #df657f !important;
      border-color: #df657f !important;
    }
    &.ant-btn-primary {
      color: #fff;
      background: #dc294f;
      border-color: #dc294f;
      font-size: 12px;
      display: block;
    }
    &.ant-btn-primary:active {
      color: #fff;
      background: #df657f;
      border-color: #df657f;
    }
  }
}

@media (min-width: 768px) {
  .button-primary {
    background: #dc294f;
    border: none;
    position: absolute;

    &.ant-btn-primary:hover,
    .ant-btn-primary:focus {
      color: #fff;
      background: #df657f !important;
      border-color: #df657f !important;
    }
    &.ant-btn-primary {
      color: #fff;
      background: #dc294f;
      border-color: #dc294f;
      font-size: 12px;
    }
    &.ant-btn-primary:active {
      color: #fff;
      background: #df657f;
      border-color: #df657f;
    }
  }
}

.button-secondary {
  &.ant-btn {
    border: none;
    font-size: 18px;
  }

  &.ant-btn:hover,
  .ant-btn:focus {
    color: #df657f !important;
    border-color: #df657f !important;
  }

  &.ant-btn:active,
  .ant-btn:focus {
    color: #df657f !important;
    border-color: #df657f !important;
  }
  &.ant-btn::after {
    color: #df657f !important;
    border-color: #df657f !important;
  }
}

.button-link {
  &.ant-btn-link {
    color: #000;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    font-weight: 700;
    border: none !important;
    padding: 0;
  }

  &.ant-btn-link:hover,
  .ant-btn-link:focus {
    color: #df657f !important;
    background: transparent;
    border: none !important;
  }
  &.ant-btn-link::after,
  .ant-btn-link:active,
  .ant-btn::selection {
    color: #df657f !important;
  }
}
