//Card Styles
.card {
  &.ant-card-bordered {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
  }
}

.card-shadow {
  box-shadow: -3px 4px 10px 0 #bebebe !important;
  border-radius: 20px;
  &.ant-card-body {
    padding: 0;
  }
}

//Card Content styles
.card-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}

.card-title:hover,
.card-title:focus {
  color: #df657f !important;
}

.card-text {
  font-weight: 700;
  color: #dc294f;
}

.card-article {
  &.ant-card-body {
    padding: 0;
  }
}

//Rate Styles
.rate-star {
  &.ant-rate {
    color: #dc294f !important;
    font-size: 16px;
  }
}

.rate-value {
  font-weight: 700;
  margin-right: 5px;
  font-size: 14px;
  padding: 0;
}

.rate-count {
  font-weight: 700;
  margin-left: 5px;
  font-size: 14px;
  padding: 0;
}

//Image Styles
.img-product {
  height: 200px;
  width: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.img-article {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
  max-height: 220px;
  border-radius: 15px;
}

.img-profile {
  vertical-align: middle;
  border-style: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 5px 0 15px 0;
}

.img-product-small {
  //   max-height: 50%;
  max-width: 80%;
}

//Card Icon Styles
.icon {
  font-weight: bold;
  text-align: center;
}

.icon-list {
  margin: 10px 8px 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
