.row-profile {
  &.ant-row {
    margin: 0 0 -15px 20px;
    z-index: 10 !important;
    position: relative;
  }
}

.card {
  &.ant-card-bordered {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
  }
  //   &.ant-card {
  //     margin: 20px 10px;
  //   }
}

.card-text {
  font-weight: 700;
  color: #dc294f;
}

.card-title {
  margin-bottom: 0;
  font-weight: 700;
}

.img-product {
  height: 200px;
  width: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rate-star {
  &.ant-rate {
    color: #dc294f !important;
    font-size: 16px;
  }
}

.rate-value {
  font-weight: 700;
  margin-right: 5px;
  font-size: 14px;
  padding: 0;
}

.rate-count {
  font-weight: 700;
  margin-left: 5px;
  font-size: 14px;
  padding: 0;
}
