.footer {
  width: 100%;
}

.footer-text {
  padding: 0 7px;
  color: #908c8c;
  font-weight: 500;
}

.img-download {
  width: 40%;
  max-height: 100px;
  margin: 5px 10px 5px 0;
}

.bottom-frame {
  border: 1px solid #000;
  width: 970px;
  height: 50px;
  text-align: center;
  display: block;
  margin: 30px auto;
  background: #cecece;
}

@media (min-width: 425px) {
  .img-download {
    width: 50%;
    height: 54px;
    margin: 5px 10px 5px 0;
  }

  .bottom-frame {
    border: 1px solid #000;
    width: 320px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 30px auto;
    background: #cecece;
  }
}

@media (min-width: 768px) {
  .img-download {
    width: 100%;
    height: 54px;
    margin: 5px 10px 5px 0;
  }

  .bottom-frame {
    border: 1px solid #000;
    width: 468px;
    height: 60px;
    text-align: center;
    display: block;
    margin: 30px auto;
    background: #cecece;
  }
}

@media (min-width: 1024px) {
  .img-download {
    width: 40%;
    height: 54px;
    margin: 5px 10px 5px 0;
  }

  .bottom-frame {
    border: 1px solid #000;
    width: 970px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 30px auto;
    background: #cecece;
  }
}

@media (min-width: 1440px) {
  .img-download {
    width: 40%;
    height: 62px;
    margin: 5px 10px 5px 0;
  }

  .bottom-frame {
    border: 1px solid #000;
    width: 970px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 30px auto;
    background: #cecece;
  }
}

@media (min-width: 2560px) {
  .img-download {
    width: 30%;
    height: 90px;
    margin: 5px 10px 5px 0;
  }

  .bottom-frame {
    border: 1px solid #000;
    width: 970px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 30px auto;
    background: #cecece;
  }
}
